*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.card{
    width: 500px;
    min-height: 550px;
}

#options{
    display: flex;
    
}