body{
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#4facfe;
}

.box{
background:white;
padding:40px;
border-radius:12px;
text-align:center;
width:320px;
}

button{
padding:10px 20px;
background:#28a745;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

#primeResult{
margin-top:20px;
font-size:18px;
}