body{
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#ff9a9e;
}

.box{
background:white;
padding:40px;
border-radius:12px;
text-align:center;
width:320px;
}

input{
padding:10px;
margin:5px;
width:80%;
}

button{
padding:10px 20px;
background:#ff6b6b;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

#largestResult{
margin-top:20px;
font-size:18px;
}